/**
 * Don't edit this file. Find all style at ./sass folder.
 **/
.wp-block-example-example-block .info {
  padding: 20px;
  border: solid 1px #ccc;
  background-color: #e0e0e0;
  font-family: monospace;
  position: absolute;
  right: -20px;
  bottom: -120px;
  width: 300px;
  box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.75);
}

.wp-block-example-dynamic-block {
  background-color: #ff0;
  border: 2px solid #000;
  padding: 15px;
}

/*# sourceMappingURL=edit.css.map */
