/**
 * Don't edit this file. Find all style at ./sass folder.
 **/
.wp-block-example-example-block {
  display: flex;
  flex-direction: row;
}

.wp-block-example-example-block .column {
  flex: 1;
}

.wp-block-example-example-block .icon {
  text-align: center;
}

.wp-block-example-example-block .icon svg {
  width: 120px;
  height: 120px;
}

.wp-block-example-dynamic-block {
  background-color: #0f0;
  border: 2px solid #f00;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
