{#
/**
 * @file
 * Default theme implementation to display an example Gutenberg block server-side.
 *
 * Available variables:
 * - block_name: The Gutenberg block name.
 * - block_content: The content of this block.
 * - block_attributes: The attributes of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *
 * @see template_preprocess_gutenberg_block()
 * @see template_preprocess_gutenberg_block__example__dynamic_block()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
    <div>{{ '— Hello from the Gutenberg Drupal twig backend1111'|t }}</div>
    <div class="dynamic-block-title">
        <h2>{{ block_attributes.title }}</h2>
    </div>
    <div class="dynamic-block-content">
        {{ block_content }}
    </div>
</div>
